---
layout: default
---

<div class="home">
    {% capture site_categories %}{% for category in site.categories %}{{ category | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
    <!-- site_categories: {{ site_categories }} -->
    {% assign category_words = site_categories | split:',' | sort %}
    <!-- category_words: {{ category_words }} -->

    <div id="categories">
      <ul class="category-box list-inline">
        {% for item in (0..site.categories.size) %}
            {% unless category_words[item] == null %}
                {% capture this_word %}{{ category_words[item] | strip_newlines }}{% endcapture %}
                <li>
                    <a href="#{{ this_word | cgi_escape }}">{{ this_word | upcase }} <span>({{ site.categories[this_word].size }})</span></a> {% unless forloop.rindex == 1 %},{% endunless%}
                </li>
            {% endunless %}
        {% endfor %}
      </ul>

    {% for item in (0..site.categories.size) %}
        {% unless forloop.last %}
            {% capture this_word %}{{ category_words[item] | strip_newlines }}{% endcapture %}
            <h3 id="{{ this_word | cgi_escape }}">{{ this_word | upcase}}</h2>
            <hr>
            <ul class="posts list-unstyled">
            {% for post in site.categories[this_word] %}
                {% if post.title != null %}
                    <li itemscope>
                        <h4>
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </h4>
                        <span class="post-meta">{{ post.date | date: "%B %-d, %Y"  }}</span>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endunless %}
    {% endfor %}
    </div>
</div>
